<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>

<form name="create_movie" method="post">
    Name
    <input type="text" name="movieName">
    <br><br>Duration
    <input type="text" name="duration">
    <br><br>Release Date
    <input type="date" name="releaseDate">
    <br><br>
  <button type="submit" class="btn btn-primary" value="Add">Add</button>
</form>
<br><br>
<%if (sess.isCustomer) { %>
    <form action="/adminCustomer" method="get">
        <button type="submit" class="btn btn-primary" value="Back">Back</button>
    </form>
<%} else { %>
    <form action="/adminOnly" method="get">
        <button type="submit" class="btn btn-primary" value="Back">Back</button>
    </form>
<%}%>
<%if (errors.length > 0) { %>
  <ul>
    <% for (var i = 0; i < errors.length; i++) { %>
      <li>
        <%=errors[i].msg%>
      </li>
    <% } %>
  </ul>
<% } %>

</body>
</html>
