<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>
<form name="login" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <br>
  <button type="submit" class="btn btn-secondary" value="login">Login</button>
</form>
<br>
<form action="/" method="get">
  <button type="submit" class="btn btn-primary btn-lg">Back</button>
</form>
<%if (errors.length > 0) { %>
  <ul>
    <% for (var i = 0; i < errors.length; i++) { %>
    <li>
      <%=errors[i].msg%>
    </li>
    <% } %>
  </ul>
<% } %>

</body>
</html>