<!DOCTYPE html>
<html>
<head>
  <title>logged out</title>
  <!-- redirecting in "3" seconds -->
  <meta http-equiv="refresh" content="3;url=/" />
</head>

<body>
<h4>You have been successfully logged out!</h4>
<h5>Redirecting in 3 seconds...</h5>

</body>

</html>